@{
    ViewBag.Title = "Contact";
}



<img src="http://www.quatre.dk/img/client4.png
" style="width:550px;height:250px;padding-top:10px;">

<img src="http://www.maersk.com/~/media/hardware/innovation/triple-e.png
" style="width:1150px;height:300px;padding-top:10px">

<div class="jumbotron">
    <h1>Maersk Line</h1>
    <h2>@ViewBag.Title.</h2>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>


